.header {
  background-color: #333;
  padding: 10px 20px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-item {
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
  font-size: 16px;
}

.nav-item:hover {
  color: #f0f0f0;
  text-decoration: underline;
}
